<div class="container-sm">
    <table>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <% let subtotal = 0; %>
        <% cart.items.forEach(item => { %>
            <tr>
                <td>
                    <div class="cart-info">
                        <img src="<%= item.image %>" alt="<%= item.name %>">
                        <div>
                            <p><%= item.name %></p>
                            <small>Price: $<%= item.price.toFixed(2) %></small>
                            <br>
                            <a href="/cart?productId=<%= item.productId %>">Remove</a>
                        </div>
                    </div>
                </td>
                <td><input type="number" value="<%= item.quantity %>" min="1"></td>
                <td>$<%= (item.price * item.quantity).toFixed(2) %></td>
            </tr>
            <% subtotal += item.price * item.quantity; %>
        <% }); %>
    </table>

    <div class="total-price">
        <table>
            <tr>
                <td>Subtotal</td>
                <td>$<%= subtotal.toFixed(2) %></td>
            </tr>
            <% let tax = subtotal * 0.23; // Assuming a tax rate of 23% %>
            <tr>
                <td>Tax</td>
                <td>$<%= tax.toFixed(2) %></td>
            </tr>
            <tr>
                <td>Total</td>
                <td>$<%= (subtotal + tax).toFixed(2) %></td>
            </tr>
            <tr>
               <td colspan="2"><button class="btn btn-primary" type="submit">Check Out</button></td>
            </tr>
        </table>
    </div>
</div>
