<!DOCTYPE html>
<html lang="en">
    <!-- Head section here -->
    <%- include('./partials/head.ejs') %>
    <!-- Head section here -->
<body>
    <!-- Navigation bar section here -->
    <%- include('./partials/frontpage/front-nav.ejs') %>
    <!-- Navigation bar section here -->

    <!-- Main section here -->
    <main>
        <!-- Hero section here -->
        <%- include('./partials/frontpage/hero_section.ejs') %>
        <!-- Hero section here -->

        <!-- About us section here  -->
        <%- include('./partials/frontpage/about_us.ejs') %>
        <!-- About us section here  -->

        <!-- Features Product section here  -->
        <%- include('./partials/frontpage/features_product.ejs') %>
        <!-- Features Product section here  -->

        <!-- Review section here  -->
        <%- include('./partials/frontpage/review_section.ejs') %>
        <!-- Review section here  -->

        <!-- Contact section here -->
        <%- include('./partials/frontpage/contact_us.ejs') %>
        <!-- Contact section here -->
    </main>
        <!-- Footer section here -->
        <%- include('./partials/footer.ejs') %>
        <!-- Footer section here -->

        <!--Js link-->
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
