<h3 class="heading">Cases</h3>
<section class="products-container">
    <div class="container text-center">
        <div class="row">
            <% products.forEach(product => { %>
                <div class="col-xl-3 col-lg-6 gy-4 gutters">
                    <div class="card">
                        <a href="/product-detail/<%= product._id %>">
                            <% if (product.image && product.image.data) { %>
                                <img src="data:<%= product.image.contentType %>;base64,<%= product.image.data.toString('base64') %>" class="card-img-top" alt="<%= product.name %>">
                            <% } else { %>
                                <img src="../images/default-image.jpg" class="card-img-top" alt="Default Image">
                            <% } %>
                        </a>
                        <div class="product-card-body">
                            <h5 class="card-title"><%= product.name %></h5>
                            <div class="price">$<%= product.price.toFixed(2) %></div>
                            <div class="stars">
                                <!-- You can generate stars here based on product rating -->
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</section>
