<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head section here -->
    <%- include('../partials/head.ejs') %>
    <!-- Head section here -->

</head>  

<body>
    <!-- Navigation bar section here -->
    <%- include('../partials/nav_bar.ejs') %>
    <!-- Navigation bar section here -->

    <!-- Main section here -->
    <main>
        <!-- Hero section here -->
        <%- include('../partials/hero.ejs') %>
        <!-- Hero section here -->

        <!-- About us section here  -->
        <%- include('../partials/about_us.ejs') %>
        <!-- About us section here  -->

        <!-- Features Product section here  -->
        <%- include('../partials/features_product.ejs') %>
        <!-- Features Product section here  -->

        <!-- Review section here  -->
        <%- include('../partials/review.ejs') %>
        <!-- Review section here  -->

        <!-- Contact section here -->
        <%- include('../partials/contact.ejs') %>
        <!-- Contact section here -->
    </main>
    <!-- Main section here -->

    <footer>
        <!-- Footer section here -->
        <%- include('../partials/footer.ejs') %>
        <!-- Footer section here -->
    </footer>
</body>

